.Options {
  text-align: center;
}

.Options h1 {
  font-size: 42px;
  margin-bottom: 42px;
}

.Options h1, .Options p, .Options--buttons {
  letter-spacing: initial;
  width: 100vw;
}

.Options--img {
  width: 100vw;
  max-width: 650px;
  margin: 0 auto;
  max-height: 487.5px;
}

@media (min-width: 650px) {
  .Options--img {
    height: 75vh;
  }
}

.Options--buttons {
  letter-spacing: initial;
  padding: 0 10px;
  width: 100vw;
  text-align: center;
}

.Options--header {
  color: #000;
}

.Options--icons a {
  color: #000;
  padding: 0 5px;
}

.Options--icons svg {
  width: 22px;
  height: 22px;
}

.Options--buttons {
  padding: 20px 10px 12px;
}

.Options--badge {
  margin-right: 0.3em;
}

.Options--attr {
  font-size: 9px;
  margin-bottom: 14px;
}

.Options--attr a {
  color: antiquewhite;
}
