p {
  margin: 0;
}

.Options--buttons,
.App-header h1,
.App-header p {
  padding: 0 10px;
  width: 100vw;
  text-align: center;
}

.Options--badge {
  margin-right: 0.3em;
}

@media (min-width: 480px) {
  .Options--buttons {
    column-count: 3;
  }
}
