.Button {
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 10px;
  transition: 0.2s all;
  text-align: center;
  justify-content: center;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  border-radius: 50%;
}

.Button:first-child {
  background-color: #fff;
}

.Button:hover {
  -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}


.Button.success {
  background-color: #2bde3f;
}

.Button.info {
  background-color: #1d72f3;
}

.Button.warning {
  background-color: #ffc007;
}

.Button.error {
  background-color: rgb(235, 77, 96);
}